gnuradio/*.py
.DS_Store
__pycache__/
*.pyc
/scripts/bak
scripts/src/mep_rfsoc.py.bak
scripts/start_mep_rx.py.bak2
scripts/mep_RH.py
user_guide.md
scripts/gnss.py
scripts/test_eval.py
scripts/test_ubx.py
/scripts/external
.vscode/settings.json
/scripts/ignore
/scripts/backup_do_not_delete
scripts/announce.json
restore_tabs.py
documentation/AFE_ANNOUNCE_CAPABILITIES.md
documentation/spectrogram_flip_bug.md
experiments/64mhztest.csv
experiments/64mhztest_2.csv
experiments/cadence.png
experiments/plot_cadence.py
scripts/archive.py
scripts/test_aj.py
scripts/radiohound-app/mep_recorder.py
scripts/radiohound-app/recorder_service.py
scripts/radiohound-app/spectrogram.py
scripts/spec_mqtt_tap.py
scripts/sr16MHz.yaml
scripts/sr32MHz.yaml
scripts/sr64MHz.yaml
/scripts/occupancy_output
scripts/occupancy_processor.py
scripts/render_heatmaps.py
/scripts/chC_spectrogram
/scripts/occupancy_output_1796
scripts/REFERENCEONLY_start_capture_rx.py
scripts/sr64MHz_saveonly.yaml
scripts/REFERENCEONLY_sdr_overlay.py
profiler_plan.md
scripts/bugs.txt
scripts/start_mep_rx.py_bak
