gnuradio/*.py
.DS_Store
__pycache__/
*.pyc
/scripts/bak
scripts/src/mep_rfsoc.py.bak
scripts/start_mep_rx.py.bak2
scripts/mep_RH.py
user_guide.md
scripts/gnss.py
scripts/test_eval.py
scripts/test_ubx.py
/scripts/external
.vscode/settings.json
/scripts/ignore
/scripts/backup_do_not_delete
scripts/announce.json
restore_tabs.py
documentation/AFE_ANNOUNCE_CAPABILITIES.md
